.naxchivan {

    background-image: url(az.jpg);
    background-size: 100%;
}
.shahbuz {
    background-color: aqua;
}
.culfa {
    background-color: aqua;
}
.ordubad {
    background-color: aqua;
}